/* colors */
:root {
  --dark-gray-color: #353535;
  --light-gray-color: #d9d9d9;
  --white-color: #ffffff;
  --dark-blue-color: #284b63;
  --turquoise-color: #3c6e71;
}

html {
  font-size: 0.625;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
